[20 pts] Keep the variables as one-hot encoded and develop a multiple linear regression
model. Use your model to predict the target variable for the people with age 20, male, and
generation X. What is the MAE error of this prediction? How many line coefficients are
there?

In [125]:
import pandas as pd
import numpy as np

##put path to your data here to interact with the rest of this notebook
df = pd.read_csv("/Users/dzikipm1/Downloads/master.csv")
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [126]:
#one hot encode 

from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import LabelEncoder

X = df[['country', 'age', 'country-year', 'generation', 'sex']].values
nonNumerical_le = LabelEncoder()
for x in range(0, 5):
    X[:, x] = nonNumerical_le.fit_transform(X[:,x])
    
xDF = pd.DataFrame({'country': X[:, 0], 'age': X[:, 1], 'country-year': X[:, 2], 'generation': X[:, 3], 'sex': X[:, 4]})
xDF['suicides/100k pop'] = df['suicides/100k pop'].astype(int)
xDF = xDF.astype(int)

df = df.drop(['country', 'sex', 'age', 'country-year', 'generation', 'suicides/100k pop', 'HDI for year'], axis = 1)
df[' gdp_for_year ($) '] = pd.to_numeric(df [' gdp_for_year ($) '].str.replace(',', ''))
result = df.join(xDF)
result.fillna(0)

,year,suicides_no,population,gdp_for_year ($),gdp_per_capita ($),country,age,country-year,generation,sex,suicides/100k pop
0,1987,21,312900,2156624900,796,0,0,0,2,1,6
1,1987,16,308000,2156624900,796,0,2,0,5,1,5
2,1987,14,289700,2156624900,796,0,0,0,2,0,4
3,1987,1,21800,2156624900,796,0,5,0,1,1,4
4,1987,9,274300,2156624900,796,0,1,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...
27815,2014,107,3620833,63067077179,2309,100,2,2320,2,0,2
27816,2014,9,348465,63067077179,2309,100,5,2320,5,0,2
27817,2014,60,2762158,63067077179,2309,100,3,2320,3,1,2
27818,2014,44,2631600,63067077179,2309,100,3,2320,3,0,1
27819,2014,21,1438935,63067077179,2309,100,4,2320,0,0,1

In [127]:
from sklearn.model_selection import train_test_split

X = result.loc[:, result.columns != 'suicides/100k pop'].values
y = result.loc[:, result.columns == 'suicides/100k pop'].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=None)

In [128]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

regressor = LinearRegression()  
regressor.fit(X_train, y_train) 
y_pred = regressor.predict(X_test)
error = mean_absolute_error(y_test, y_pred)
print("mean absolute error ", error)
X_predict = [[2000,0,0,0,0,0,0, 0, 2, 1]]
y_predict = regressor.predict(X_predict)
print('predicted ' ,y_predict[0], ' suicides per 100k')

mean absolute error  9.883847615388312
predicted  11.740092572495257  suicides per 100k

Now use the original sex, age and generation variables in numerical form and
develop a new model. Use your model to predict the target variable for the people with age
20, male, and generation X. What is the MAE error of this prediction? How many line
coefficients are there? (Note that for this step you have to think of a way of encoding the
original nominal age feature and generation feature into numerical features.)

In [129]:
df = pd.read_csv("/Users/dzikipm1/Downloads/master.csv")
df = df.drop(['country', 'country-year', 'HDI for year'], axis = 1)

In [130]:
#now, create model using numerical lable encoding, instead of one hot label encoding

df = pd.get_dummies(df)
df.head()

,year,suicides_no,population,suicides/100k pop,gdp_per_capita ($),sex_female,sex_male,age_15-24 years,age_25-34 years,age_35-54 years,...,"gdp_for_year ($) _99,853,528,653","gdp_for_year ($) _99,886,577,331","gdp_for_year ($) _990,374,050","gdp_for_year ($) _997,007,926",generation_Boomers,generation_G.I. Generation,generation_Generation X,generation_Generation Z,generation_Millenials,generation_Silent
0,1987,21,312900,6.71,796,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1987,16,308000,5.19,796,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,1987,14,289700,4.83,796,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1987,1,21800,4.59,796,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1987,9,274300,3.28,796,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [131]:
#repeat model training

from sklearn.model_selection import train_test_split

X = result.loc[:, result.columns != 'suicides/100k pop'].values
y = result.loc[:, result.columns == 'suicides/100k pop'].values.ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=None)

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

regressor = LinearRegression()  
regressor.fit(X_train, y_train) 
y_pred = regressor.predict(X_test)
error = mean_absolute_error(y_test, y_pred)
print("mean absolute error ", error)
X_predict = [[2000,0,0,0,0,0,0, 0, 2, 1]]
y_predict = regressor.predict(X_predict)
print('predicted ' ,y_predict[0], ' suicides per 100k')

mean absolute error  10.182563842227953
predicted  11.807897348848726  suicides per 100k

[10 pts] Did you note any change in these two model performances?

very little change - nearly identical perfofmance, but with slightly lower error when using numerical encoding

[10 pts] What is the prediction for age 33, male and generation Alpha (i.e. the generation
after generation Z)?

In [132]:
X_predict = [[2000,0,0,0,0,0,0, 0,5 , 1]]
y_predict = regressor.predict(X_predict)
print('predicted ' ,y_predict[0], ' suicides per 100k')

predicted  9.517595367731587  suicides per 100k

[10 pts] Give one advantage when using regression (as opposed to classification with
nominal features) in terms of input data features.

Less transformation of data needs to be done.  With numerical data, you don't need to go through and one hot encode everything.

[10 pts bonus] Now that you developed both a classifier and a regression model for this
problem, which method do you suggest to your machine learning model customer and
why?

With regression, you get a contiguous value, which for our problem, I think is more valuable than ranking someone as at risk or not.  Regression gives us an actual number, which provides more insight for each group, so I would recommend the regression model.